{% extends 'base.html' %}

{% block title %}할일 목록{% endblock %}

{% block content %}

<div class="box has-text-centered">
    <a href="{% url 'todo:todolist_create' %}"><button class="button is-info is-rounded">추가하기</button></a>
</div>

<div class="columns">
    {% for todo in to_do_list %}

    <div class="card column">
        <header class="card-header">
            <p class="card-header-title">
                할일 : {{ todo.name }}
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
        <span class="icon">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
            </a>
        </header>
        <div class="card-content">
            <div class="content">
                해야 할일 : {{ todo.description|truncatechars:30 }}
                <br>
                <hr>
                생성 날짜 : {{ todo.date_created }}
                <br>
                데드 라인 : {{ todo.date_deadline }}
                <hr>
                남은 일수 : {{ todo.remaining_days }}
                <hr>
                관련 이미지 :
                {% for image in todolist.todolist_images_set.all %}
                <img src="{{ image.image.url }}" width="300px" height="350px" alt="reference_image">
                {% endfor %}
                <hr>
                관련 파일 : <br><br>
                {% for file in todolist.todolist_files_set.all %}
                {{ file.files.url }}
                <a href="{{ file.files.url }}">(파일보기)</a><br>

                {% endfor %}
            </div>
        </div>
        <footer class="card-footer">
            <a href="/detail/{{ todo.id }}" class="card-footer-item">
                <button class="button is-primary is-fullwidth">더보기</button>
            </a>
            <a href="/update/{{ todo.id }}" class="card-footer-item">
                <button class="button is-warning is-fullwidth">수정하기</button>
            </a>
            <a href="/delete/{{ todo.id }}" class="card-footer-item">
                <button class="button is-danger is-fullwidth">삭제하기</button>
            </a>
        </footer>
    </div>

    {% endfor %}

</div>
{% endblock content %}